{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Start</a></li>
          <li role="presentation"><a href="/dashboard/add_entry">Add entry</a></li>
        </ul>
    </div>
    <div class="col-md-10">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Group name</th>
              <th>Activities</th>
              <th>Members</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
              <tr>
                <td>{{ group['name'] }}</td>
                <td>{{ group['feed']['data']|length }}</td>
                <td>{{ group['members']['data']|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
</div>

{% endblock %}