{% extends "layout.html" %}
{% block body %}

<div class="row">
    <h4>Privacy Policy</h4>
    <h5>General</h5>
    <p>At www.bestsocialbuddy.com we consider the privacy of our visitors to be extremely important. This privacy policy document describes in detail the types of personal information is collected and recorded by www.bestsocialbuddy.com and how we use it.</p>
    <h5>When</h5>
    <p>When you log in using Facebook button, account at www.bestsocialbuddy.com is created.</p>
    <h5>What</h5>
    <p>Fallowing information are saved by us when account is created:</p>
    <ul>
        <li>Name</li>
        <li>Email</li>
        <li>Facebook profile id</li>
        <li>Facebook profile url</li>
    </ul>
    <h5>Cookies</h5>
    <p>We use cookies to make interactions with our service easy by keeping you logged in, remember your preferences, etc.</p>
    <p>Cookies may store a unique identifier for each logged in user. The cookies we sets are essential for the operation of the website, or are used for performance or functionality. By using our website, you agree that we can place these types of cookies on your computer or device. If you disable your browser or device’s ability to accept cookies, you will not be able to log in or use GitHub’s services.</p>

</div>

{% endblock %}